.scrollbar-hide {
  /* Hide scrollbar for all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  /* fallback for other browsers */
  overscroll-behavior: contain;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
  display: none;
}

/* Hide scrollbar track and thumb for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: transparent;
  display: none;
}
.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}
